{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<script src="{% static 'myfirst.js' %}"></script>
<body>
    <div class="login">
        <div class="login-header">
          <h1>Tomazo</h1>
        </div>
        <div class="login-form">
            
            <div class="dropdown">
                <button class="dropbtn"><B>Who are you? Are you a user or a restaurant?</B></button>
                <div class="dropdown-content">
                    <a onclick="location.href='{% url 'user_signin' %}'" >User</a>
                    <a onclick="location.href='{% url 'res_signin' %}'">Restaurants</a>
                </div>
            </div>
            <br></br>
            <div class="dropdown">
                <button class="dropbtn"><B>New user? Please signup</B></button>
                <div class="dropdown-content">
                    <a onclick="location.href='{% url 'user_reg' %}'" >User</a>
                    <a onclick="location.href='{% url 'restaurant_reg' %}'">Restaurants</a>
                </div>
            </div>
          </div>
        </div>
    </div>    
</body>
</html>