<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
    
<form method="POST">
{%csrf_token %}
    <div class="login">
        <div class="login-header" >Hello {{ request.session.r_emailid }}</div>
    </div>
</form>

{% comment %} <div>
<H1>Items in current menu</H1>
{% for key, value in results.items %}
        <div class="dropdown">
            <form action="{% url 'delete_res_menu_item' %}" method="POST">
                {%csrf_token %}
                <select name="name_of_item" >
                    <option disabled="true" class="dropbtn" class="row" selected>Items in menu/></option>
                    {% for i in value%}
                    <option  class="dropdown-content" class="column" value="{{i.0}},{{i.1}}" >{{i.0}},{{i.1}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="r_emailid" value="{{key}}"></input>
                {% comment %} <button type="submit" onclick="location.href='{% url 'user_page' %}'">Add to cart</button>  {% endcomment %}
                {% comment %} <button type="submit">Delete from Menu</button>
            </form> 
        </div>
    <br></br> {% endcomment %}
{% comment %} {% endfor %} 
</div>{% endcomment %} 

{% for key, value in results.items %}
<div>
    <div class="login-header">
        Current menu items
    </div>
    <br></br>
<br></br>
    <div>
        <div>
            <div>
                <form action="{% url 'delete_res_menu_item' %}" method="POST">
                    <label name="r_emailid" value="{{key}}"></label>
                    {%csrf_token %}
                    <select  name="name_of_item" class="summary-1" style="font-size: 25px">
                        <option disabled="true" selected>Select items from menu to delete/></option>
                        {% for i in value%}
                        <option  value="{{i.0}},{{i.1}}" >{{i.0}},{{i.1}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="r_emailid" value="{{key}}"></input>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <div >
                        <button type="submit" style="float: right;">Delete from menu</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endfor %} 

<div>
    <button class="login-button" onclick="location.href='{% url 'restaurant_menu' %}'" />Add menu</button>
</div>
 
</body>
</html>                  