
<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
<div class="login">
        <div class="login-header">
            <h1>Restaurant Menu</h1>
        </div> 
    <form method="POST" >
        {% csrf_token %}
        {% comment %} {% if messages %}
        {% for message in messages %}
        <div class={{ message.tags }}>{{ message }}</div>
        {% endfor %} {% endcomment %}
        <p> Hello:</p>
        <p>{{ request.session.r_emailid }}</p>
   

        <div class="login-form">
            {% comment %} <h3>Restaurant Emailid:</h3>
            <input type="text" placeholder="emailid" name="r_emailid"/> {% endcomment %}
            <h3>Restaurant Item:</h3>
            <input type="text" placeholder="Item" name="Item"/>
            <h3>Restaurant Price:</h3>
            <input type="text" placeholder="Price" name="Price"/>
            <br>
          <button  class="login-button" type="submit"/>Submit</button>
        </div>
    </form>
</div>
</body>
</html>