<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
 
   

    <div class="login-header">
        <h1>Welcom to Tomazo</h1>
    </div>    
<form method="POST">
        {%csrf_token %}
        <br></br>
        <div class="login">
            <div class="login-header">
               Hello {{ request.session.emailid }}
            </div>
        </div>
</form>
<br></br>
    <div class="login">
        <div class="login-form">
            <form action="{% url 'search' %}" method="POST">
                {%csrf_token %}
                <input type="text" name="search_string" placeholder="Tomazo Search">
                </input>
            </form>
        </div>
    </div> 
<br></br>

<br></br>
  


{% for key, value in results.items %}
    <div class="card">
        <div class="container">
            <div class="res_names">
            {{ key }}
            </div>
            <form action="{% url 'add_cart' %}" method="POST">
            {%csrf_token %}
            <br></br>
            <br></br>
            <div class="drop-down">
                <select name="name_of_item" class="search-select">
                    <option disabled="true"  selected>Select items from menu</option>
                    {% for i in value%}
                    <option   value="{{i.1}},{{i.2}}" >{{i.1}},{{i.2}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="r_name" value="{{key}}"></input>
                {% comment %} <button type="submit" onclick="location.href='{% url 'user_page' %}'">Add to cart</button>  {% endcomment %}
            </div>
            <div class="submit_button">
                <button type="submit" onclick="location.href='{% url 'user_page' %}'">Add to cart</button>
            </div>
            </form> 
        </div>
    </div>
    <br></br>
{% endfor %}

 <br></br>
<div>
<button class="login-button" onclick="location.href='{% url 'billing' %}'" />Submit</button>

<button class="login-button" onclick="location.href='{% url 'signout' %}'" type="submit" style="float: right;" />SignOut</button>
</div> 

</body>
</html>                  